<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Add</title>
    <style>
        .add-form {
            text-align: center;
            width: 50%;
            margin: auto;
            text-align: center;
            border: none;
        }
    </style>
</head>
<div th:replace="fragments/menu :: menu"/>
<body>
<form th:object="${itemAddDto}" method="post" th:action="@{/item/add}">
    <div class="add-form">
        <table>
            <tr>
                <td><label for="name">이름</label></td>
                <td><input id=name th:field="*{name}"/></td>
            </tr>
            <tr>
                <td><label for="stockQuantity">수량</label></td>
                <td><input id=stockQuantity th:field="*{quantity}"/></td>
            </tr>
            <tr>
                <td><label for="buyTime">구매 일시</label></td>
                <td><input id="buyTime" th:field="*{buyDate}"/></td>
            </tr>
            <tr>
                <td><label for="whereToBuy">구매처</label></td>
                <td> <input id="whereToBuy" th:field="*{whereToBuy}"/></td>
            </tr>
            <tr>
                <td><label for="buyPrice">구매 가격</label></td>
                <td><input id="buyPrice" th:field="*{buyPrice}"/></td>
            </tr>
            <tr>
                <td><label for="category">카테고리</label></td>
                <td>
                    <select id=category th:field="*{category}">
                        <option value="">=== 카테고리 ===</option>
                        <option value="bottom">하의</option>
                        <option value="top">상의</option>
                        <option value="shoes">신발</option>
                        <option value="stock">잡화</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="status">상품 상태</label></td>
                <td>
                    <select id=status th:field="*{status}">
                        <option value="">=== 상품 상태 ===</option>
                        <option value="bottom">하의</option>
                        <option value="top">상의</option>
                        <option value="shoes">신발</option>
                        <option value="stock">잡화</option>
                    </select>
                </td>
            </tr>
        </table>
        <div>
            <button type="submit" class="btn btn-primary"
                    style="background-color: #599ff8; border: none; width: 140px;">상품 등록하기
            </button>
        </div>
    </div>
</form>
</body>
</html>